/* Base Styles */
body {
  background-image: url("assets/baggrund.png");
  background-color: #cccccc;
  max-width: 1920px;
  color: #2b2a28;
  margin: 1em;
  font-family: "Yantramanav", sans-serif;
}

/* Styling frontpage */

.frontpage {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr 1fr 1fr;
}

.fætterbrlogo {
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 2;
  grid-row-start: 2;
}

.låsoppil {
  max-width: 100px;
  margin-top: 195px;
  margin-left: 120px;
  grid-column-start: 2;
  grid-row-start: 3;
}

.låsopkant {
  max-width: 150px;
  margin-top: 159px;
  margin-left: 95px;
  grid-column-start: 2;
  grid-row-start: 3;
}

.låsopbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  max-width: 60em;
  grid-column-start: 2;
  grid-row-start: 3;
  opacity: 0.5;
}

/* Styling vælg spil */

.vælgspil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 1em;
}

.valgtspil {
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 2;
  grid-row-start: 2;
  max-width: 100%;
  border: 1em solid #ffffff;
}

.forrigespil {
  grid-column-start: 1;
  grid-row-start: 2;
  max-width: 350px;
  margin-left: auto;
  margin-right: 1em;
  margin-top: 42px;
  opacity: 0.6;
  border: 5px solid #df23fb;
}

.næstespil {
  grid-column-start: 3;
  grid-row-start: 2;
  max-width: 350px;
  margin-top: 42px;
  margin-left: 1em;
  opacity: 0.6;
  border: 5px solid #17d2df;
}

.næstespilknap {
  max-width: 100px;
  grid-column-start: 3;
  grid-row-start: 2;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 32em;
}

.forrigespilknap {
  max-width: 100px;
  grid-column-start: 1;
  grid-row-start: 2;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
}

/* Styling sværhedsgrad */

.sværhedsgrad {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.menukant {
  margin-top: 2em;
  margin-left: 2em;
  grid-column: 1;
  grid-row: 1/5;
}

.sværhedsgradtekst {
  color: #ffffff;
  font-size: 6em;
  grid-column: 2/5;
  grid-row: 1;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  margin-top: 2em;
  margin-bottom: auto;
}

.hjemknap {
  grid-column: 1;
  grid-row: 1;
  padding: 2em;
}

.let {
  font-size: 80px;
  background: #7700ff;
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 400px;
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  margin-top: auto;
  border-radius: 25px;
}

.medium {
  font-size: 80px;
  background: #7700ff;
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 400px;
  text-align: center;
  grid-column: 3;
  grid-row: 2;
  margin-top: auto;
  border-radius: 25px;
}

.svær {
  font-size: 80px;
  background: #7700ff;
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 400px;
  text-align: center;
  grid-column: 4;
  grid-row: 2;
  margin-top: auto;
  border-radius: 25px;
}
