/* Base Styles */
body {
  background-image: url("assets/baggrund.png");
  background-color: #cccccc;
  max-width: 1920px;
  color: #2b2a28;
  margin: 1em;
  font-family: "Yantramanav", sans-serif;
}

/* Styling frontpage */

.frontpage {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr 1fr 1fr;
}

.fætterbrlogo {
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 2;
  grid-row-start: 2;
}

.låsoppil {
  max-width: 100px;
  margin-top: 195px;
  margin-left: 120px;
  grid-column-start: 2;
  grid-row-start: 3;
}

.låsopkant {
  max-width: 150px;
  margin-top: 159px;
  margin-left: 95px;
  grid-column-start: 2;
  grid-row-start: 3;
}

.låsopbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  max-width: 60em;
  grid-column-start: 2;
  grid-row-start: 3;
  opacity: 0.5;
}

/* Styling spil side */

.vælgspil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.valgtspil {
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 2;
  grid-row-start: 2;
  max-width: 100%;
}
